*, body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    /*overflow-x: hidden;*/
}

/*HEADER*/
.header{
    background-color: #391d46;
    text-align: right;
    padding: 10px 0 10px 0;
}

.header-link{
    color: #e6e8eb;
    font-size: 12px;
    font-weight: 300;
    list-style: none;
    outline: none;
    text-decoration: none;
}
/*END-HEADER*/


/*INTRO*/
.intro{
    background-color: #460d0c;
    background-image: linear-gradient(-48deg, #fe8101 0%, #fab900 100%);
    text-align: right;

    position: relative;
}

.intro-top{
    padding: 5px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 240px;
}

.intro-tel{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.intro-tel-wrap{
    text-align: right;
}

.tel-text{
    color: #fffcfc;
    font-size: 22px;
    font-weight: 700;
}

.tel-text-mob{
    display: block;
    text-align: left;
}

.phone{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    list-style: none;
    outline: none;
    text-decoration: none;
}

.intro-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; /* black */
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
}

.intro-subtitle{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.play-btn-wrap{
    margin: 10px 0 20px 0;
    border-radius: 10px;
    padding: 5px;
    background: #957ADE;
    display: inline-block;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    position: absolute;
    right: 0;
    cursor: pointer;
}

.play-btn{
    /*background-image: linear-gradient(to top, #0a00b2 0%, #fc00ff 100%);*/
    border-radius: 10px;
    border: 2px solid #FD843E;
    padding: 19px 13px 25px 13px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 33px;

    color: #FCE452;
    text-transform: uppercase;
    display: inline-block;
}

.intro-kit-wrap{
    text-align: center;
    position: relative;
}

.intro-kit-img{
    /*margin: 0 auto;*/
    max-width: 100%;
    display: block;
    height: auto;
}

.bag{
    position: absolute;
    top: 8%;
    left: 28%;
    max-width: 38%;
    transition: 1s;
    cursor: pointer;
}

.bag:hover{
    transform:scale(1.1);
}

.lens{
    position: absolute;
    right: 0;
    bottom: 0;
}

.lens-add-class{
    bottom: 20%;
    left: 52%;
    transform: translate(-50%);
    transition: 2s;
}
/*END-INTRO*/


/*REGISTRATION*/
.registration{
    background: url("../images/registration-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

    padding: 30px 0 30px 0;
}

.registration .container{
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.registration-wrap{
    width: 50%;
}

.clock-wrap{
    background: #333333;
    display: inline-block;
    padding: 5px 20px 5px 20px;

    border-radius:10px;
    box-shadow:inset 0 -5px 0 rgba(166, 166, 166, 0.9);
}

.reg-month{
    font-weight: 900;
    font-size: 28px;
    color: #FCE452;
}

.registration-title{
    font-weight: 900;
    font-size: 28px;
}

.registration-title-2{
    font-weight: 900;
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 10px;

    position: relative;
    display: inline-block;
}

.registration-title-2:before{
    content: url("../images/coin.png");
    position: absolute;
    top: -31px;
    right: -21px;
}
/*END-REGISTRATION*/

/*TIMER*/
#counter {
    text-align: center;
    margin: 10px 5px 30px 5px;
    display: block;
    color: #ffffff;
    font-size: 2em;
    font-weight: 400;
}
@media (max-width: 500px) {
    #counter {
        font-size: 1.5em;
    }
}
#counter span, #counter i {
    display: inline-block;
    vertical-align: middle;
}
#counter span {
    font-family: sans-serif;
    text-align: center;
    min-width: 45px;
    text-rendering: optimizeLegibility;
    position: relative;
    background-color: #353535;
    margin: 0 10px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0 1px 0.5px rgba(255, 255, 255, 0.4);
    border: 1px solid black;
    text-shadow: 0 0 2px black;
}
#counter span.days {
    /*margin-right: 10px;*/
}
#counter span.days:before {
    content: "днiв";
}
#counter span.hours:before {
    content: "годин";
}
#counter span.minutes:before {
    content: "хвилин";
}
#counter span.seconds:before {
    content: "секунд";
}
#counter span:before {
    bottom: -20px;
    /*top: -20px;*/
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    color: #fbfbfb;
    font-size: 0.40em;
    text-shadow: none;

    /*font-size: 15px;*/
    font-weight: 400;
}
#counter span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    margin-top: 0.5px;
    background-color: black;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}
#counter i {
    font-style: normal;
}
/*END-TIMER*/


/*PRODUCT*/
.product{
    background: #FAFAFA;
}

.product-wrap {
    padding-top: 100px;
    padding-bottom: 90px;
}

.prod-cards-wrap {
    margin-top: 40px;
    text-align: center;
}

.prod-img {
    width: 100%;
    border-radius: 50%;

}

.prod-box-text {
    text-align: center;
    margin-top: 10px;
}

.prod-text {
    color: #494949;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.prod-title {
    color: #494949;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.prod-box-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.prod-box-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
}

.prod-1 {
    width: 24%;
}

.prod-2 {
    width: 24%;
}

.prod-3 {
    width: 24%;
}

.prod-4 {
    width: 24%;
}

.prod-5 {
    width: 24%;
}

.prod-6 {
    width: 24%;
}

.prod-7 {
    width: 24%;
}

.prod-8 {
    width: 24%;
}
/*END-PRODUCT*/


.content_toggle{
    border-radius: 26px;
    border: 1px solid #494949;
    padding: 5px 15px;


    color: #494949;
    font-size: 12px;
    font-weight: 700;

    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    margin-top: 30px;
}


/*WINNERS*/
.winners{
    background: url("../images/winners-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*height: 600px;*/

    padding: 30px 0 50px 0;
}

.winners-title{
    padding-left: 100px;
    font-size: 36px;
    color: #f3ed19;
    font-weight: 700;
}


/*CARDS*/
.card {
    width: 100%;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .14);
    color: #444;
    text-align: center;
    font-size: 16px;
    padding: 20px 20px 25px 20px;

    margin-top: 35px;
}

.full-name {
    text-align: left;

    color: #434343;
    font-size: 27px;
    font-weight: 700;
}


.card-text{
    margin-top: 30px;
    text-align: left;

    color: #434343;
    font-size: 18px;
    font-weight: 700;
}


.round{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background: url(../images/abramec-1.png) no-repeat 0 0;
    background-size: auto 152px;
    transform: translateY(-22px);
}

.round-1{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background: url(../images/winners/chernyuk-1.jpg) no-repeat 0 0;
    background-size: auto 152px;
    transform: translateY(-22px);
}

.round-2{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background: url(../images/winners/reznik.jpg) no-repeat 0 0;
    background-size: auto 152px;
    transform: translateY(-22px);
}

.card-header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    padding-right: 50px;
}

/*END-CARDS*/


/*SLIDER*/
.owl-slider{
    margin: 60px 0 20px 0;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
    left: -30px;
}
.owl-nav button.owl-next {
    right: -30px;
}

.owl-dots {
    display: none;
}
.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}
.owl-dots button.owl-dot.active {
    background-color: #000;
}
.owl-dots button.owl-dot:focus {
    outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-nav span {
    font-size: 70px;
    position: relative;
    /*top: -5px;*/
}
.owl-nav button:focus {
    outline: none;
}
/*END-SLIDER*/



/*END-WINNERS*/


/*FOOTER*/
.footer{
    padding: 20px 0 20px 0;
    background: #8777DA;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-link{
    color: #ffffff;
    text-transform: uppercase;

    font-family: Montserrat;
    font-size: 19px;
    font-weight: 300;
}
/*END-FOOTER*/



/*ANIMATION-BTN*/
.drag{
    -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;

    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}
/*END-ANIMATION-BTN*/



/*POPUP*/
/*.popup_wrapper{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(0,0,0, .6);*/
/*    text-align: center;*/
/*    z-index: 1000;*/
/*    overflow: hidden;*/

/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.wrap-form{*/
/*    max-width: 450px;*/
/*    !*height: 300px;*!*/
/*    background: #460d0c;*/
/*}*/
/*END-POPUP*/





/*START-STYLES FOR MAX-WIDTH*/
/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .card-header-wrap {
        padding-right: 10px;
    }
    .full-name {
        font-size: 21px;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .prod-box-top {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .prod-box-bottom {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .prod-1, .prod-2, .prod-3, .prod-4, .prod-5, .prod-6, .prod-7, .prod-8 {
        width: 48%;
        /*padding: 15px;*/
    }

    .owl-slider{
        padding: 0 30px 0 30px;
        margin: 10px 0 20px 0;
    }


    /*new-cards-style*/
    .name-wrap {
        margin: 0 auto;
        transform: translateY(-75px);
    }
    .full-name {
        display: inline-block;
        text-align: center;
    }
    .round, .round-1, .round-2 {
        display: inline-block;
        transform: translateY(-85px);
    }
    .card {
        margin-top: 70px;
    }
    .card-header-wrap {
        display: block;
        height: auto;
    }
    .card-text{
        text-align: center;
        margin-top: -70px;
    }
    /*end-new-cards-style*/

    .lens, .lens-add-class {
        display: none;
    }

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

    .intro-kit-wrap {
        margin-top: 65px;
    }
    .play-btn-wrap {
        top: -51px;
    }
    .bag{
        max-width: 71%;
        top: 12%;
        left: 105px;
    }

    .footer .container {
        flex-direction: row-reverse;
    }
    .intro-title {
        font-size: 46px;
    }
    .registration {
        background: url(../images/registration-bg-mob.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 160px 0 20px 0;
    }

    .registration-title, .reg-month {
        font-size: 20px;
    }

    .registration-title-2 {
        font-size: 54px;
    }

    .clock-wrap{
        padding: 5px 5px 5px 5px;
    }

    .form-group input {
        font-size: 16px;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .intro-top {
        flex-direction: column-reverse;
    }

    .intro-tel-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .tel-text{
        display: none;
    }

    .registration .container {
        justify-content: center;
    }
    .registration-wrap {
        width: 100%;
    }
    .btn-play-form {
        width: 90%;
    }

    .logo {
        width: auto;
    }

}

/*Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
    .intro-title {
        font-size: 46px;
    }
    .intro-subtitle {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .phone {
        font-size: 21px;
    }
    .intro-tel {
        font-size: 14px;
    }
    .play-btn-wrap {
        text-align: center;
        display: block;
        width: 91%;
        margin: 0 auto;

        /*left: 50%;*/
        /*transform: translate(-50%);*/
    }
    .play-btn {
        padding: 13px 9px 13px 9px;
        font-size: 22px;
        display: block;
    }

    .product-wrap {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .prod-text {
        font-size: 12px;
    }

    .card-text {
        text-align: center;
        font-size: 14px;
        margin-top: -70px;
    }

    .name-wrap {
        transform: translateY(-75px);
    }
    .full-name {
        text-align: center;
        font-size: 18px;
    }

}

/*Extra small devices (portrait phones, less than 450px)*/
@media (max-width: 450px) {
    .header {
        text-align: left;
    }
    .prod-title {
        font-size: 28px;
    }
    .f-link {
        font-size: 14px;
    }

    input[type="checkbox"] + label {
        font-size: 8px;
    }
}

/*Extra small devices (portrait phones, less than 400px)*/
@media (max-width: 400px) {
    .intro-title {
        font-size: 42px;
    }
}

/*Extra small devices (portrait phones, less than 350px)*/
@media (max-width: 350px) {
    .intro-tel {
        font-size: 13px;
    }
    .phone {
        font-size: 18px;
    }
    .intro-title {
        font-size: 37px;
    }
    .play-btn {
        font-size: 20px;
    }
    .registration-title-2:before {
        right: -10px;
    }
    .bag {
        left: 95px;
    }
}
/*END-STYLES FOR MAX-WIDTH*/


/*STYLE-FOR-CONTAINER*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 544px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 576px) {
    .tel-text-mob{
        display: none;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .content_block{
        display: block !important;
    }
    .content_toggle{
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        /*max-width: 1200px;*/
    }
}
/*END-STYLE-FOR-CONTAINER*/

/*STYLE-FOR-LOADER*/
#wrap-loader {
    display: none;
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%)
}

.loader-pr {
    margin: 10px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #b50905;
    width: 68px;
    height: 68px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*END-STYLE-FOR-LOADER*/