.fancybox-content{
    color: black;
}

.form-group{
    background: #FFFFFF;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.form-group div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.przm-form{
    text-align: center;
    margin-top: 20px;
}

.form-group input {
    background: transparent !important;
    border: none;
    outline: none !important;
    color: #000000 !important;
    width: 100%;

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

/*btn-form-style*/
.btn-play-form{
    color: #ffffff;
    cursor: pointer;
    padding: 15px 13px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #470e0c;
    background-image: -o-linear-gradient(98deg, #fe8101 0%, #fab900 100%);
    background-image: linear-gradient(-8deg, #fe8101 0%, #fab900 100%);
    -webkit-box-shadow: 0 0 15px 0 #FAB900;
    box-shadow: 0 0 15px 0 #FAB900;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    border: none;
    outline: none;
}

.btn-play-form:hover{
    background-image: -o-linear-gradient(98deg, #fab900 0%, #fe8101 100%);
    background-image: linear-gradient(-8deg, #fab900 0%, #fe8101 100%);
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: left;

}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.boxes input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .12s, border-color .08s;
    -o-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    background: transparent;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.boxes input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 31%;
    width: 10px;
    height: 16px;
    border: 1px solid #ffffff;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
}
/*end-Checkboxes styles*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    box-shadow: 0 0 0 1000px #fff inset !important;
    border-radius: 0;
    color: #FFF!important;
    -webkit-text-fill-color: #FFF!important;
}

input:-webkit-autofill {
    color: #000000 !important;
    -webkit-text-fill-color: #000000 !important;
    border-radius: 0;
}

/*PLACEHOLDER*/
::-webkit-input-placeholder {color:#000000;}
::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000000;}
/*END-PLACEHOLDER*/